* {
    box-sizing: border-box; /* ensure padding+border in element's size */
    margin: 0;
}

/* OVERALL FONTS*/
body { /*body font (normal, 16px)*/
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #000;
    text-decoration: none; 
}
h1 { /*for header font (normal, 30px, blue)*/
    display: block;
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #2B91DB;
    margin-bottom: 24px;
    line-height: 75px;
}
h2 { /*for divider header with lines (bold, 24px)*/
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #000;
    margin: 50px;
}
    h2:before,
    h2:after { /*makes the lines on either side*/
        content:"";
        display: inline-block;
        width: 120px;
        height: 2px; /*width and height of line*/
        background: #000;
        margin: 0 20px 0 0; /*space between line and text*/
        position: relative; /*makes lines on either side of text*/
    }
    h2:after {
        margin: 0 0 0 20px;
    }
h3 { /*contact info font (normal, 16px, white)*/
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}
h4 { /*for join us button (bold, 32px, blue)*/
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px; 
    color: #2B91DB;
}
h5 { /*for intro blurb (normal, 20px)*/
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #000;
}
h6 { /*for home blurb headers (bold, 30px, with margin)*/
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px; 
    color: #000;
    margin-bottom: 20px;
}
h7 { /*home blurb body text (normal, 18px)*/
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #000;
}
h8 { /*events title (bold, 18px)*/
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000;
}
.member-name { /*for board member names*/
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px; 
    color: #000;
    text-transform: uppercase;
}
.pronouns {
    margin-bottom: 10px;
}
.research-header-font { /*for research card lab names (bold, 20px, all uppercase)*/
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px; 
    color: #000;
    text-transform: uppercase;
    margin: 0px; /*?? for offset problem when pushed*/
}

/* NAVIGATION (TOP BAR) */ 

.nav-items {
    margin-top: 20px;
}
.wrapper { /*gives that nice page margin*/
    max-width: 1140px;
    margin: 0 auto;
}
.logo {
    vertical-align: top; /*for corner MRS logo*/
    width: 160px;
    height: 71px;
    margin-top: 10px;
}
nav {
    height: 91px;
    width: 100%; /* snap to window width*/
    background: #fff;
}
nav p {
    float: left;
    padding: 0px 20px;
}
.navbar {
    /*used position fixed if want to pin navbar (with a z index) and add a gap of 91 px*/
    height: auto;
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    display: inline-block;
}
.navbar-left {
    float: left;
}
.navbar-right {
    float: right;
}

ul {
    margin: 0px 0px; 
    padding: 0px;
}
nav ul {
    float: right; /*where it is aligned on the page*/
}
nav ul li {
    float: left; /*list order (currently left to right)*/
    list-style: none;
    position: relative;
}
nav ul li a {
    display: block;
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #2B91DB;
    text-decoration: none;
    padding: 15px 20px;
}
nav ul li ul {
    display: none;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    z-index: 2;
}
nav ul li:hover ul { /*get dropdown menu on hover*/
    display: block;
}
nav ul li ul li{
    width: 180px;
}
nav ul li ul li a {
    color: #000;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #fff;
}
nav ul li ul li a:hover {
    background-color: #ECEBEB;
    color: #000;
}
.main-menu:hover {
    background-color: #ECEBEB;
}
/*OLD CSS*/
/*.nav-container {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 91px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}

nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
    nav ul {
        display: flex; 
    }
    .nav-items li {
        position: relative;
        list-style: none;
        margin-right: 40px; /* for spacing between menu items*/
    /*}
    /*.nav-items li:nth-last-of-type(1) /*{
        margin: 0; /*how far the last item is from right edge*/
    /*}
    /*.nav-items li a {
        font-family: "Barlow", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #2B91DB;
        text-decoration: none;
    }/*


/*PAGE HEADER*/
.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    column-gap: normal;
}
header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*DIVIDER HEADER (header w/ lines)*/
.divider-header {
    display: flex;
    text-align: center;
}

/*PHOTOS FORMATTING*/
.mrs-logo {
    position: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}
.meet-board-picture {
    position: relative;
    width: 100%;
}
.board-member-picture { 
    width: 160px;
}
.blurb-picture { /*home page blurb pictures on the left*/
    width: 351px;
    height: 264px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}
.lab-picture {
    width: 300px;
}
.journalclub-picture {
    width: 400px;
}
.article-picture {
    width: 400px;
}
.sampe-picture {
    width: 666px;
}

/*PAGE FOOTER*/
.footer-container {
    position: relative; /*pinned to very bottom of webpage (not screen)*/
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    background: #386FA4;
}
.media-icons-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    z-index: 2;
}
.media-icons {
    color: #fff;
    text-decoration: none;
    display: inline-block; /*makes them inline horizontally*/
    width: 40px; /*changes individual block width*/
    text-align: center;
}
.contact-container {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}


/*PAGE SPECIFIC*/
.content-container { /*for containers holding divs that need to be centered*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px; /*buffer space on bottom*/
    width: 100%; 
}
/*Home*/
.home-nav-container {
    position: relative;
    display: flex;
    width: 100%; /* snap to window width*/
    text-align: center;
    margin: 20px;    
}
    .home-nav-items li {
        list-style: none;
        display: inline-block;
        margin-right: 40px; /* for spacing between menu items*/
    }
    .home-nav-items li a { /*fonts of home nav bar text*/
        font-family: "Barlow", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #2B91DB;
        text-decoration: none; /*gets rid of hyperlink underline*/
    }
.slideshow-container {
    position: relative;
    text-align: center;
}
    .slides {
        position: relative;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
.front-picture-container {
    position: relative;
    text-align: center;
}
.join-us-button {
    background: #2B91DB;
    width: 271px;
    height: 62px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none; /*none gets rid of auto black border*/
    border-radius: 10px;
    padding: 10px 50px;
    text-align: center;
    display: inline-block;
    cursor: pointer; /*gives hand cursor on hover*/
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.4s; /*speed of hover effect*/
    /*fonts*/
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px; 
    color: #fff; /*text color*/
}
    .join-us-button:hover {
        background-color: #fff; /* button color after hover*/
        color: #2B91DB; /*text color after hover*/
        border: 2px solid #2B91DB;
    }
.intro-blurb {
    text-align: center;
    padding: 20px 150px;
    margin: 50px auto; /*top/bottom, left/right*/
}
.mini-blurb-lightblue { /*for light blue blurb background*/
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #C6D9E7;
}
    .blurb-picture-container1 { /*position of blurb picture*/
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }
    .blurb-text-container1 { /*position of blurb text*/
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }

/*About Us*/
.meet-board-container {
    position: relative;
    display: flex;
    text-align: center;
}
.board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; 
}
    .board-member {
        display: inline-block;
        width: 250px; /*width of the container containing each board member picture*/
        padding: 10px; /*space between each container*/
        margin-bottom: 30px;
    }
    .picture-frame {
        padding: 0;
        margin: 0;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background: transparent;
        overflow: hidden;
        display: inline-block;
    }
    .member-info {
        text-align: center;
    }

/*Events*/
.events-card {
    width: 325px;
    height: 225px;
    margin: 15px; /*space around each event background*/
    background: #C6D9E7;
    float: left;
}
.events-text {
    margin: 20px auto;
    width: 300px;
}
.events-calendar {
    margin-bottom: 30px;
}
/*Photos*/
.photos-container {
    display: inline-block;
    margin-bottom: 30px;
}
.gallery {
  border: 1px solid #ccc;
}
    .gallery:hover {
      border: 1px solid #777;
    }
.gallery img {
  width: 100%;
  height: auto;
}
.desc {
  padding: 15px;
  text-align: center;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
/*Research Opportunities*/
.research-intro-blurb {
    width: 736px;
    margin: auto; /*center*/
    margin-bottom: 50px;
}
.lab-info-container { /*holds all lab opportunities cards*/
    position: relative;
}
.lab-info {
    position: relative;
    height: 296px; /*so footer does not overlap with the opportunities, but this also means that we cannot make long opportunities :( */
}
    .lab-picture-container {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .lab-text {
        position: absolute;
        left: 350px;
        top: 0px;
        text-align: left;
    }
/*Journal Club*/
.journalclub-blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.journalclub-text {
    text-align: center;
    width: 60%;
}
.join-journalclub-button {
    background: #2B91DB;
    width: 230px;
    height: 44px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none; /*gets rid of auto black border*/
    border-radius: 10px;
    padding: 10px 50px;
    text-align: center;
    display: inline-block;
    cursor: pointer; /*gives hand cursor on hover*/
    position: relative;
    transition-duration: 0.4s; /*speed of hover effect*/
    /*fonts*/
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px; 
    color: #fff; /*text color*/
}
    .join-journalclub-button:hover {
        background-color: #fff; /* button color after hover*/
        color: #2B91DB; /*text color after hover*/
        border: 2px solid #2B91DB;
    }
.presenter-container {
    position: relative;
    margin-bottom: 30px;
}
    .presenter-card {
        width: 480px;
        height: 175px;
        background: #C6D9E7;
        margin: 20px;
        display: inline-block;
    }
    .presenter-text {
        text-align: left;
        padding: 20px 50px;
    }
/*Interesting Articles*/
.articles-intro-blurb {
    position: relative;
    height: 72px;
}
.article-container {
    position: relative;
    margin-bottom: 30px;
    height: 675px; /*adjust according to length of article!*/
    background: #C6D9E7;
}
    .article-title {
        position: relative;
        height: 100px;
        margin: auto;
        margin-top: 30px;
    }
    .article-content {
        position: relative;
    }
    .article-picture-container {
        position: absolute;
        left: 0;
        top: 0;
    }
    .article-text {
        position: absolute;
        left: 500px; /*adjust text position according to picture size*/
        top: 0px;
        text-align: left;
    }
    .read-more-button {
            background: #2B91DB;
            width: 210px;
            height: 35px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: none; /*gets rid of auto black border*/
            border-radius: 5px;
            padding: 10px 50px;
            text-align: center;
            display: inline-block;
            cursor: pointer; /*gives hand cursor on hover*/
            position: absolute;
            left: 881px;
            top: 191px;
            transition-duration: 0.4s; /*speed of hover effect*/
            /*fonts*/
            font-family: "Barlow", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 12px; 
            color: #fff; /*text color*/
        }
            .read-more-button:hover {
                background-color: #fff; /* button color after hover*/
                color: #2B91DB; /*text color after hover*/
                border: 2px solid #2B91DB;
            }
/*SAMPE*/
.intro-picture-container {
    position: relative;
    height: 475px; /*need or else text below will overlap*/
    display: inline-block;
    width: 666px; /*must set width or picture won't be centered*/
    margin: auto;
}
.sampe-picture-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.sampe-caption-container {
    position: absolute;
    left: 0px;
    top: 406px;
    width: 666px;
    height: 39px;
    background: rgba(229, 229, 229, 0.8);
    z-index: 2;
}
.sampe-caption {
    margin-top: 10px;
}
.sampe-intro-blurb {
    position: relative;
    width: 736px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}
